
.cabecera{
    grid-area: cabecera;
    color:#000000;
    text-align: center ;
    background-color: #ffe4c4;
    font-size:20px;

}
.body{
    background-color: #f1c58b;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}

.gallery{
    display: grid;
    grid-template-columns: repeat(12,2fr);
    grid-gap: 2px;
    grid-auto-rows: 100px;
    grid-auto-flow: row dense;
    
}

.gallery img{
    width: 170%;
 
}

.nombre{
    display: flex;
    grid-column: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    background-color:#ffffff;
    border:2px solid  #f1c58b;
    width: 1252px;
    height: 30px;
    align-items:center;
    justify-content: center;
    float: left;
}


.article{
    background-color:#ffffff;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 24px;
    width: 170px;
    height: 370px;
    min-width: 150px;
    margin: 28px;
   
}
.infor{
    background-color:#ffff;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 24px;
    width:180px;
    height: 370px;
    min-width: 150px;
    margin: 20px;
   
}
.section{
    width: calc(100% - 160px);
    height: calc(100vh - 100px);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.article2 {
    display: grid;
    gap: 10px;
    background-color: #ebacac;
    border-radius: 15px;
    padding: 40px;
    width: 100px;
    height: 300px;
    text-align: center;
    margin: 10px;
}
.h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 11px;
}

.h{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 12px;
    color: #ef3e3e;
}

.p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 11px;
}

.grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px;
    justify-content:left;
    width:800PX;
    height: 800px;;
    background-color:#ffffff;
}

.footer{
    grid-area: footer;
    background-color: #000000;
    align-items: center;
}
